/* Global */
body {
    font-family: 'Lato', serif;
    background-color: #4a6c82;
    color: #FDFBF6;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    color: #FDFBF6;
    font-family: "Montserrat", sans-serif;
}

a:hover {
    color: #D98E04;
    text-decoration: none;
}

a {
    color: #FDFBF6;
    text-decoration: underline;
}

/* Navbar */
.navbar {
    background-color: #E5E5E5;
    color: #2E2E2E;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50  px;
}

/* Header - Hero image*/
.talk-club-header {
    margin-top: 32px;
}

.header-bg {
    background-image: linear-gradient(to bottom,
            rgba(128, 128, 128, 0.3),
            rgba(64, 64, 64, 0.3)), url('../images/Banner_-_Talk_Club_grafitti.webp');
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 300px;
    /*position: relative;*/
}

.talk-club-header h1 {
    color: #FDFBF6;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.talk-club-header h2 {
    color: #FDFBF6;
    font-size: 1.5em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

/* Main sections */
#ben-akers-img {
    width: 80%;
    height: 80%;
}

#join-us {
    padding: 40px 0;
    margin-top: 32px;
}

#talk-club a {
    color: #FDFBF6;
}

#talk-club a:hover {
    color: #D98E04;
}

#meeting-times  td, #meeting-times th {
    background-color: transparent !important;
    color: #FDFBF6;
}

#whats-on-your-mind {
    margin-top: 32px;
    margin-bottom: 32px;
}

#whats-on-your-mind h2
{
    margin-bottom: 20px;
}
#success {
    min-height: 350px;
}

/* Footer */
.footer {
    background-color: #2E2E2E;
    color: #FDFBF6;
    text-align: center;
    padding: 20px 0;
    margin-top: 32px;
}

.social-links a {
    color: #FDFBF6;
    font-size: 1.2em;
}

.social-links a:hover {
    color: #D98E04;
}
