/*
Charcoal Slate	#2E2E2E	Primary text, headers, logo base	
Ale Amber	#D98E04	Accent color, buttons, highlights	
Steel Blue	#4A6C82	Backgrounds, section dividers	
Moss Green	#6E8B3D	Secondary accents, icons	
Cloud Grey	#E5E5E5	Backgrounds, cards, contrast elements	
Pint Foam White	#FDFBF6	Hero sections, typography contrast
*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #4a6c82;
    color: #2E2E2E;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    color: #2E2E2E;
    /* Charcoal Slate */
}

.header-bg {
    background-image:    linear-gradient(to bottom,
                    rgba(128, 128, 128, 0.3), 
                    rgba(64, 64, 64, 0.3)
                ), url('../images/Banner_-_Talk_Club_grafitti.webp');
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 300px;
    position: relative;
}

.talk-club-header h1 {
    color: #FDFBF6;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.talk-club-header h2 {
    color: #FDFBF6;
    font-size: 1.5em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}